@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Source+Sans+Pro:400,700');

body{
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;

    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}   

h1, h2, h3, h4, h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.25;
}

.site-title{
    color: #a9a9a9;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0 0 1.5rem;
}

.title:before {
    content: "";
    background-color : #caebf2;
    padding: .0 .25rem;
    margin-right: .5rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.3333;
    font-weight: 700;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color:inherit;
}

.white{
    color: white;
}
.center
{
    text-align: center;
}